extends:
  eslint-config-airbnb-base

parser:
  babel-eslint

settings:
  ecmascript: 6

ecmaFeatures:
  modules: true
  destructuring: true
  classes: true
  forOf: true
  blockBindings: true
  arrowFunctions: true

env:
  browser: true

rules:
  arrow-body-style: 0
  indent: 2
  func-style: 0
  func-names: 0
  comma-dangle: 0
  no-console: 0
  no-param-reassign: 0
  linebreak-style: 0
  import/no-extraneous-dependencies: 0
  import/no-unresolved: 0
  import/extensions: 0
  import/prefer-default-export: 0
  import/no-named-as-default: 0
  import/no-commonjs: 2
  space-before-function-paren: [2, "never"]
  space-return-throw-case: 0
  object-shorthand: 0
  complexity: 0
  strict: [2, "never"]
  max-len: [2, 180, 4]
  arrow-parens: [2, "always"]
  semi: [2, "never"]
  no-confusing-arrow: 0
